@model Karenbic.DomainClasses.Product

@{
    List<Karenbic.DomainClasses.ProductCategory> productCategories = (List<Karenbic.DomainClasses.ProductCategory>)ViewBag.ProductCategories;

    ViewBag.PageTitle = Model.Title;
}

@section HeaderSection {
    <link rel="stylesheet" type="text/css" href="/Styles/public/product.css" />
}

@section TitleBar {
    <div class="top-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="page-info">
                        <h1 class="page-title">محصولات</h1>
                        <h2 class="page-desc">
                            کارگاه خلاقیت و ایده پردازی
                            <br />
                            <small>خلاقیت توام با کیفیت وجه تمایز ماست</small>
                        </h2>
                        <ul class="product-categories">
                            <li>
                                <a class="@(Model.Category.Id == null ? "active" : "")"
                                   href="@Url.Action("Index", new { categoryId = ""})">
                                    همه
                                </a>
                            </li>
                            @foreach (Karenbic.DomainClasses.ProductCategory item in productCategories)
                            {
                                <li>
                                    <a class="@(Model.Category.Id == item.Id ? "active" : "")"
                                       href="@Url.Action("Index", new {categoryId = item.Id })">
                                        @item.Title
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="body-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div style="font-family:yekan;font-size:15px;margin-top:10px;padding:3px 5px 4px 5px;">
                    <span style="color:#A3A3A3;">نام محصول:</span>
                    <br />
                    <span style="display:inline-block;font-size:17px;margin:3px 12px 0 0;">@Model.Title</span>
                </div>

                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <div style="font-family:yekan;font-size:15px;margin-top:10px;padding:3px 5px 4px 5px;">
                        <span style="color:#A3A3A3;">معرفی محصول:</span>
                        &nbsp;&nbsp;
                        <pre style="border:none;background-color:transparent;">@Model.Description</pre>
                    </div>
                }
                
                <div style="background-color:#F74366;border-radius:5px;color:#fff;display:inline-block;font-family:yekan;font-size:15px;margin-top:10px;padding:3px 5px 4px 5px;">
                    قیمت:
                    &nbsp;&nbsp;
                    @Model.Price.ToString("#,#")
                    &nbsp;&nbsp;
                    ریال
                </div>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                @foreach (Karenbic.DomainClasses.ProductPicture picture in Model.Pictures.ToList())
                {
                    <img src="@picture.PicturePath" alt="@Model.Title"
                         style="display:block;width:100%;height:auto;" />
                }
            </div>
        </div>
    </div>
</div>