@model List<Karenbic.DomainClasses.Province>

@{
    Layout = null;
}

<option value="">انتخاب کنید</option>

@if (ViewBag.Id == null)
{
    foreach (Karenbic.DomainClasses.Province item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
}
else
{
    foreach (Karenbic.DomainClasses.Province item in Model)
    {
        <option value="@item.Id" @(ViewBag.Id == item.Id ? "selected=\"selected\"" : "")>@item.Name</option>
    }
}