<style type="text/css">
    .whirl.shadow::after  {
        animation: none;
        z-index:13;
    }
    .whirl.shadow::before  {
        z-index:13;
    }

    .total-price {
        border:1px solid #6c6c6c;
        font-family:BNazanin;
        font-size:15.5px;
        height:41px;
        padding:6px 8px;
        width:100%;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default" 
                 ng-class="{'whirl': fetchLoading, 'shadow': fetchLoading}">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i></i>
                        قیمت سفارشات
                    </div>
                </div>
                <div class="panel-body" style="min-height:600px;">
                    <form>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="form-group" style="position:relative;">
                                    <label class="control-label">گروه بندی:</label>
                                    <select chosen="formGroups"
                                            ng-options="item.Title for item in formGroups"
                                            ng-model="formGroup"
                                            width="100%"></select>
                                    <div style="background-color:#f6f6f6;height:29px;position:absolute;top:23px;right:0;left:0;opacity:0.4;"
                                         ng-if="fetchformGroupsLoading">
                                        <img src="/Images/Loading/2.gif" style="display:block;margin:9px auto;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="form-group" style="position:relative;">
                                    <label class="control-label">فرم:</label>
                                    <select chosen="forms"
                                            ng-options="item.Title for item in forms"
                                            ng-model="form"
                                            width="100%"></select>
                                    <div style="background-color:#f6f6f6;height:29px;position:absolute;top:23px;right:0;left:0;opacity:0.4;"
                                         ng-if="fetchFormsLoading">
                                        <img src="/Images/Loading/2.gif" style="display:block;margin:9px auto;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <hr class="hr1" />

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <div style="height:15px;"></div>
                                    <button type="submit"
                                            class="btn btn-labeled btn-warning"
                                            ng-click="openAddPriceDialog()">
                                        <span class="btn-label btn-label-right">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                        جدید
                                    </button>
                                    <div style="height:15px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-repeat="price in prices"
                         style="margin-bottom:15px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div style="background-color:#f9f9f9;border:1px solid #6c6c6c;min-height:120px;position:relative;">
                                <button class="btn-img-delete-1" type="button"
                                        style="position:absolute;top:3px;left:3px;"
                                        ng-click="remove($index)"
                                        tooltipster="" title="حذف"></button>

                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr ng-repeat="item in price.Values">
                                                <td style="min-width:45px;width:45px;">
                                                    <span style="margin-right:4px;">{{$index + 1}}</span>
                                                </td>
                                                <td style="min-width:200px;width:200px;">{{item.Name}}</td>
                                                <td style="min-width:300px;" ng-if="item.Type == 2">{{item.MinValue + ' الی ' + item.MaxValue}}</td>
                                                <td style="min-width:300px;" ng-if="item.Type == 8 || item.Type == 9">{{item.Value}}</td>
                                                <td ng-if="item.Type == 10">
                                                    <div ng-repeat="value in item.Values">{{($index + 1) + '- ' + value}}</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-lg visible-md"
                             style="padding-left:0;">
                            <div class="total-price">
                                <span>قیمت سفارش :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.Price | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-sm"
                             style="padding-left:0;">
                            <div class="total-price">
                                <span>قیمت سفارش :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.Price | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-xs">
                            <div class="total-price">
                                <span>قیمت سفارش :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.Price | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-lg visible-md"
                             style="padding-left:0;padding-right:0;">
                            <div class="total-price">
                                <span>مبلغ پیش پرداخت :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.Prepayment | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-sm"
                             style="padding-right:0;">
                            <div class="total-price">
                                <span>مبلغ پیش پرداخت :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.Prepayment | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-xs">
                            <div class="total-price">
                                <span>مبلغ پیش پرداخت :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.Prepayment | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-lg visible-md"
                             style="padding-left:0;padding-right:0;">
                            <div class="total-price">
                                <span>قیمت سفارش (خ) :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.SpecialCreativityPrice | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-sm"
                             style="padding-left:0;">
                            <div class="total-price">
                                <span>قیمت سفارش (خ) :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.SpecialCreativityPrice | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-xs">
                            <div class="total-price">
                                <span>قیمت سفارش (خ) :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.SpecialCreativityPrice | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-lg visible-md"
                             style="padding-right:0;">
                            <div class="total-price">
                                <span>مبلغ پیش پرداخت (خ) :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.Prepayment | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-sm"
                             style="padding-right:0;">
                            <div class="total-price">
                                <span>مبلغ پیش پرداخت (خ) :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.Prepayment | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 visible-xs">
                            <div class="total-price">
                                <span>مبلغ پیش پرداخت (خ) :</span>
                                &nbsp;&nbsp;
                                <span style="float:left;">
                                    {{price.Prepayment | riyal}}
                                    &nbsp;
                                    ریال
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Add Price Modal -->
<script type="text/ng-template" id="/AddPrice.html">
    <div class="modal-header">
        <div class="modal-title">
            <i></i>
           {{'ثبت قیمت' + ' ( ' + form.Title + ' ) '}}
        </div>
    </div>
    <div class="modal-body" ng-class="{'whirl': addLoading, 'shadow': addLoading}">
        <form name="addPriceForm">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div style="border-left:1px solid #808080;padding-left:30px;min-height:300px">
                        <div class="form-group"
                             ng-repeat="item in fields">
                            @Html.Partial("../OrderPrice/FormField_NumericStepper")
                            @Html.Partial("../OrderPrice/FormField_Checkbox")
                            @Html.Partial("../OrderPrice/FormField_DropDown")
                            @Html.Partial("../OrderPrice/FormField_MultipleChoice")
                            @Html.Partial("../OrderPrice/FormField_CheckboxGroup")
                            <hr class="hr1" style="margin-top:8px;" ng-if="$last == false" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">اولویت:</label>
                        <br />
                        <input type="text"
                               style="width:60px;"
                               value="120"
                               min="0"
                               max="300"
                               stepper=""
                               ng-model="newPrice.Priority"
                               required="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            مبلغ سفارش (ریال)
                        </label>
                        <input type="text" class="form-control ltr"
                               only-digits="" required="" ng-pattern="/^[1-9]\d*$/" ng-model="newPrice.Price" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            مبلغ پیش پرداخت (ریال)
                        </label>
                        <input type="text" class="form-control ltr"
                               only-digits="" required="" ng-pattern="/^[1-9]\d*$/" ng-model="newPrice.Prepayment" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            مبلغ سفارش (خلاقیت ویژه) (ریال)
                        </label>
                        <input type="text" class="form-control ltr"
                               only-digits="" required="" ng-pattern="/^[1-9]\d*$/" ng-model="newPrice.SpecialCreativityPrice" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            مبلغ پیش پرداخت (خلاقیت ویژه) (ریال)
                        </label>
                        <input type="text" class="form-control ltr"
                               only-digits="" required="" ng-pattern="/^[1-9]\d*$/" ng-model="newPrice.SpecialCreativityPrepayment" />
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <div class="clearfix">
            <div class="pull-left">
                <button class="btn btn-labeled btn-default"
                        ng-click="close()">
                    <span class=" btn-label btn-label-right">
                        <i class="fa fa-times"></i>
                    </span>
                    خروج
                </button>
                <button class="btn btn-labeled btn-success" type="button"
                        ng-click="send()"
                        ng-class="{'disabled': addPriceForm.$invalid || validateFields() == false}"
                        ng-disabled="addPriceForm.$invalid || validateFields() == false">
                    <span class="btn-label btn-label-right">
                        <i class="fa fa-plus"></i>
                    </span>
                    ثبت
                </button>
            </div>
        </div>
    </div>
</script>
<!-- End Add Price Modal -->

<!-- Start Remove Modal -->
<script type="text/ng-template" id="removeDialog.html">
    <div style="font-family:yekan;font-size:14px;">
        <p>آیا از حذف اطلاعات اطمینان دارید?</p>
        <div>
            <button class="btn btn-default" ng-click="close()" type="button">خیر</button>
            <button class="btn btn-primary" ng-click="confirm()" type="button">بلی</button>
        </div>
    </div>
</script>
<!-- End Remove Modal -->

<toaster-container toaster-options="{'position-class': 'toast-bottom-left', 'close-button':true, 'timeout': 3000}"></toaster-container>