<style type="text/css">
    .btn-back {
        color: #5e5e5e;
        cursor: pointer;
        font-family: yekan;
        font-size: 20px;

        text-decoration: none;
        -moz-transition: background-color 300ms ease-out;
        -webkit-transition: background-color 300ms ease-out;
        -o-transition: background-color 300ms ease-out;
        transition: background-color 300ms ease-out;
    }
        .btn-back .icon-action-undo {
            font-size: 25px;
            position: relative;
            top: 3px;
        }
        .btn-back:hover {
            color: #FF7200;
            text-decoration: none;
            -moz-transition: background-color 300ms ease-in;
            -webkit-transition: background-color 300ms ease-in;
            -o-transition: background-color 300ms ease-in;
            transition: background-color 300ms ease-in;
        }

    .btn-labeled.btn-default.btn-special-creativity {
        background-color: #ffed00;
        border: 1px solid #E2E0E0;
    }
    .btn-labeled.btn-default.btn-special-creativity:hover {
        background-color: #F9E500;
        border: 1px solid #E2E0E0;
    }

    pre.description {
        font-family: yekan;
        font-size: 14px;
        margin-top: 20px;

        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }

    .whirl.shadow::after {
        z-index: 130000;
    }
    .whirl.shadow::before {
        z-index: 130000;
    }

    .min-height {
        min-height: 600px !important;
    }

    .icon-action-undo {
        color: #5e5e5e;
        cursor: pointer;
        text-decoration: none;
        -moz-transition: background-color 300ms ease-out;
        -webkit-transition: background-color 300ms ease-out;
        -o-transition: background-color 300ms ease-out;
        transition: background-color 300ms ease-out;
    }
        .icon-action-undo:hover {
            color: #FF7200;
            text-decoration: none;
            -moz-transition: background-color 300ms ease-in;
            -webkit-transition: background-color 300ms ease-in;
            -o-transition: background-color 300ms ease-in;
            transition: background-color 300ms ease-in;
        }

    .formGroups-list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
    }
        .formGroups-list > li {
            display: block;
            margin: 0 0 25px 0;
        } 
        .formGroups-list > li > .formGroup-title {
            background-color: #b5b5b5;
            color: #fff;
            cursor: pointer;
            display: block;
            padding: 0 5px 5px 5px;
            text-align: center;
        }
        .formGroups-list > li > .formGroup-title.blue {
            background-color: #78BBF1;
        }
        .formGroups-list > li > .formGroup-title.pink {
            background-color: #CEAEDA;
        }

    .forms-list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
    }
        .forms-list li {
            border-bottom: 1px solid #f3f3f3;
            display: block;
            margin: 0;
            padding: 0 10px 0 5px;
        }
            .forms-list li a {
                color: #737373;
                cursor: pointer;
                display: block;
                padding: 2px;
                text-align: right;
                text-decoration: none;

                -moz-transition: color 300ms ease-out;
                -webkit-transition: color 300ms ease-out;
                -o-transition: color 300ms ease-out;
                transition: color 300ms ease-out;
            }
            .forms-list li a.blue:hover,
            .forms-list li a.blue.active {
                color: #78BBF1;

                -moz-transition: color 300ms ease-in;
                -webkit-transition: color 300ms ease-in;
                -o-transition: color 300ms ease-in;
                transition: color 300ms ease-in;
            }
            .forms-list li a.pink:hover,
            .forms-list li a.pink.active {
                color: #CEAEDA;

                -moz-transition: color 300ms ease-in;
                -webkit-transition: color 300ms ease-in;
                -o-transition: color 300ms ease-in;
                transition: color 300ms ease-in;
            }
                .forms-list li a i {
                    display: inline-block;
                    height: 7px;
                    margin-left: 3px;
                    position: relative;
                    top: 1px;
                    width: 7px;
                }
                .forms-list li a.blue i {
                    background-color: #78BBF1;
                }
                .forms-list li a.pink i {
                    background-color: #CEAEDA;
                }

    .gridster-item {
        /*border: 1px solid #f3f3f3;*/
        z-index: auto;
    }
        .gridster-item pre {
            background-color: transparent;
            border: none;
            color: #afafaf;
            display: inline;
            font-family: Tahoma;
            font-size: 12px;
            font-weight: normal;
            margin: 0 3px 0 0;
            padding: 0;
            white-space: pre-wrap;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
        }
        .gridster-item .fa-info-circle {
            color: #088dcc;
            font-size: 18px;
            position: relative;
            top: 2px;
        }

    .mobile-view .gridster-item .container-fluid {
        padding: 0;
    }

    .error-list {
        list-style: none;
        margin: 30px 15px 0 0;
        padding: 0;
    }
        .error-list li {
            color: #C42F2F;
            margin: 0;
            padding: 0;
        }
            .error-list li i {
                background-color: #6D0606;
                display: inline-block;
                height: 7px;
                margin-left: 3px;
                position: relative;
                top: 1px;
                width: 7px;

                border-radius: 50%;
            }

    .extended-file-uploader {
        border: 1px solid #989898;
        height: 31px;
        position: relative;
        overflow: hidden !important;
	    width: 100%;
    }
        .extended-file-uploader .btn-select {
            background: transparent url(/Images/UI/Button/btn-file-uploader-1.png) no-repeat 0 0;
            border: none;
            bottom: 0;
            cursor: pointer;
            display: block;
            left: 0;
            height: 31px;
            position: absolute;
            width: 23px;
        }
        .extended-file-uploader .btn-select:hover {
            background-position: 0 -31px;
        }
    #extended-file-uploader-popup {
        background-color: #fff;
        border-radius: 8px;
        display: none;
        height: 120px;
        padding: 15px;
        width: 227px;
    }
        #extended-file-uploader-popup .btn-select-design {
            border: 1px solid #000;
            cursor: pointer;
            display: inline-block;
            height: 90px;
            margin-left: 15px;
            width: 90px;
        }
        #extended-file-uploader-popup .btn-select-local-file {
            border: 1px solid #000;
            cursor: pointer;
            display: inline-block;
            height: 90px;
            width: 90px;
        }

    .dgvcn {
        background-color: #f9f9f9;
        border: 1px solid #6c6c6c;
        margin-top: 20px;
        min-height: 400px !important;
    }
        .dgvcn .table td {
            vertical-align: middle;
        }
</style>

<div class="container-fluid">
    <div class="row"
         ng-if="form.id != null">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="clearfix" style="margin-bottom: 15px;">
                <div class="pull-left">
                    <a class="btn-back" ng-click="unSelectForm()">
                        بازگشت
                        <i class="icon-action-undo fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default"
             ng-class="{'whirl': addLoading || fetchFormsLoading || fetchFieldsLoading, 'shadow': addLoading || fetchFormsLoading || fetchFieldsLoading}">
            <div class="panel-heading">
                <div class="panel-title">
                    <i></i>
                    ثبت سفارش جدید
                    <span ng-if="selectedForm != null">({{selectedForm.Title}})</span>
                </div>
            </div>
            <div class="panel-body" style="min-height:250px;" ng-class="{'min-height': selectedForm == null || form.fields == null}">
                <div class="row">
                    <!-- Start Column#1 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="formGroups-list">
                            <li ng-repeat="group in formGroups_column1">
                                <div class="formGroup-title"
                                     ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}">{{group.Title}}</div>

                                <ul class="forms-list">
                                    <li ng-repeat="form in group.Forms">
                                        <a ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}"
                                           ng-click="selectForm($event, form)">
                                            <i></i>
                                            {{form.Title}}
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                    <!-- End Column#1 -->

                    <!-- Start Column#2 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="formGroups-list">
                            <li ng-repeat="group in formGroups_column2">
                                <div class="formGroup-title"
                                     ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}">{{group.Title}}</div>

                                <ul class="forms-list">
                                    <li ng-repeat="form in group.Forms">
                                        <a ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}"
                                           ng-click="selectForm($event, form)">
                                            <i></i>
                                            {{form.Title}}
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                    <!-- End Column#2 -->

                    <!-- Start Column#3 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="formGroups-list">
                            <li ng-repeat="group in formGroups_column3">
                                <div class="formGroup-title"
                                     ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}">{{group.Title}}</div>

                                <ul class="forms-list">
                                    <li ng-repeat="form in group.Forms">
                                        <a ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}"
                                           ng-click="selectForm($event, form)">
                                            <i></i>
                                            {{form.Title}}
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                    <!-- End Column#3 -->
                </div>

                <form class="form-validate"
                      ng-class="{'from-sumbited' : fromSumbited}"
                      ng-if="form.id  != null">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<pre class="description" ng-if="selectedForm.Description.trim().length > 0">
توضیحات:
{{selectedForm.Description}}
</pre>
                        </div>
                    </div>

                    <div class="row" ng-if="isDesignPortal() == true && form.specialCreativity == true">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="btn btn-lg btn-block btn-labeled btn-special-creativity"
                                 type="button" style="display:inline-block;font-size:15px;margin-bottom:10px;min-height:30px;padding:6px 37px 8px 10px;position:relative;text-align:right;width:auto;white-space:normal;"
                                 ng-class="{'btn-default': specialCreativity == false, 'btn-info': specialCreativity == true}"
                                 ng-click="selectSpecialCreativity()">
                                <span class="btn-label btn-label-right"
                                      style="position:absolute;top:0;right:0;bottom:0;left:auto;background: #E2E0E0 none repeat scroll 0 0;">
                                    <i class="fa"
                                       ng-class="{'fa-check': specialCreativity == true, 'fa-times': specialCreativity == false}"></i>
                                </span>
                                آیا مایل به کارگیری خلاقیت ویژه در سفارش خود می باشید ؟
                                &nbsp;&nbsp;
                                <small>(کلیک کنید)</small>
                            </div>
                            <br />
                        </div>
                    </div>

                    <div class="visible-lg visible-md"
                         gridster="gridsterOpts_desktop">
                        <ul style="position:relative;">
                            <li gridster-item=""
                                size-x="item.desktop_position.sizeX"
                                size-y="item.desktop_position.sizeY"
                                row="item.desktop_position.row"
                                col="item.desktop_position.col"
                                ng-repeat="item in form.fields">
                                @Html.Partial("../Form/FormField_TextBox")
                                @Html.Partial("../Form/FormField_TextArea")
                                @Html.Partial("../Form/FormField_NumericStepper")
                                @Html.Partial("../Form/FormField_ColorPicker")
                                @Html.Partial("../Form/FormField_FileUploader")
                                @Html.Partial("../Form/FormField_FileUploader2")
                                @Html.Partial("../Form/FormField_Checkbox")
                                @Html.Partial("../Form/FormField_WebUrl")
                                @Html.Partial("../Form/FormField_DatePicker")
                                @Html.Partial("../Form/FormField_DropDown")
                                @Html.Partial("../Form/FormField_MultipleChoice")
                                @Html.Partial("../Form/FormField_CheckboxGroup")
                                @Html.Partial("../Form/FormField_Label")
                            </li>
                        </ul>
                    </div>

                    <div class="visible-sm" gridster="gridsterOpts_tablet">
                        <ul>
                            <li gridster-item=""
                                size-x="item.tablet_position.sizeX"
                                size-y="item.tablet_position.sizeY"
                                row="item.tablet_position.row"
                                col="item.tablet_position.col"
                                ng-repeat="item in form.fields">
                                @Html.Partial("../Form/FormField_TextBox")
                                @Html.Partial("../Form/FormField_TextArea")
                                @Html.Partial("../Form/FormField_NumericStepper")
                                @Html.Partial("../Form/FormField_ColorPicker")
                                @Html.Partial("../Form/FormField_FileUploader")
                                @Html.Partial("../Form/FormField_FileUploader2")
                                @Html.Partial("../Form/FormField_Checkbox")
                                @Html.Partial("../Form/FormField_WebUrl")
                                @Html.Partial("../Form/FormField_DatePicker")
                                @Html.Partial("../Form/FormField_DropDown")
                                @Html.Partial("../Form/FormField_MultipleChoice")
                                @Html.Partial("../Form/FormField_CheckboxGroup")
                                <div class="gridster-item-overlay"></div>
                            </li>
                        </ul>
                    </div>

                    <div class="mobile-view visible-xs" gridster="gridsterOpts_mobile">
                        <ul>
                            <li gridster-item=""
                                size-x="item.mobile_position.sizeX"
                                size-y="item.mobile_position.sizeY"
                                row="item.mobile_position.row"
                                col="item.mobile_position.col"
                                ng-repeat="item in form.fields">
                                @Html.Partial("../Form/FormField_TextBox")
                                @Html.Partial("../Form/FormField_TextArea")
                                @Html.Partial("../Form/FormField_NumericStepper")
                                @Html.Partial("../Form/FormField_ColorPicker")
                                @Html.Partial("../Form/FormField_FileUploader")
                                @Html.Partial("../Form/FormField_FileUploader2")
                                @Html.Partial("../Form/FormField_Checkbox")
                                @Html.Partial("../Form/FormField_WebUrl")
                                @Html.Partial("../Form/FormField_DatePicker")
                                @Html.Partial("../Form/FormField_DropDown")
                                @Html.Partial("../Form/FormField_MultipleChoice")
                                @Html.Partial("../Form/FormField_CheckboxGroup")
                            </li>
                        </ul>
                    </div>

                    <div class="row" ng-if="fromSumbited && selectedForm != null">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul class="error-list">
                                <li style="color:#6D0606;font-size:22px;" ng-if="formErrors.length > 0">خطا:</li>
                                <li ng-repeat="error in getFormErrors()"><i></i>{{error}}</li>
                            </ul>
                        </div>
                    </div>

                </form>
            </div>
            <div class="panel-footer"
                 style="border-top:1px solid #b5b5b5;"
                 ng-if="form.id  != null">
                <div class="clearfix">
                    <div class="pull-right">
                        <button class="btn btn-labeled btn-success" type="button"
                                ng-click="send()">
                            <span class="btn-label btn-label-right">
                                <i class="fa fa-check"></i>
                            </span>
                            ثبت سفارش
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="extended-file-uploader-popup">
    <div class="btn-select-design" ng-click="extendedFileUploader_selectFromDesign()">design</div>
    <div class="btn-select-local-file" ng-click="extendedFileUploader_selectFormLocalFile()">local file</div>
</div>

<script type="text/ng-template" id="/SelectDesignContent.html">
    <div class="modal-header">
        <div class="modal-title">
            <i></i>
            انتخاب فایل طراحی
        </div>
    </div>

    <div class="modal-body" ng-class="{'whirl': fetchLoading , 'shadow': fetchLoading }">
        <form>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">شماره سفارش:</label>
                        <input type="text" class="form-control" ng-model="searchFields.orderId" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">تاریخ سفارش:</label>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <div class="input-group">
                                    <input type="text" class="form-control ltr" style="z-index:100000;"
                                           ng-model="searchFields.startDate" jquery-datepicker="" />
                                    <span class="input-group-addon icon-calendar"><i></i></span>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                                 style="padding-left:0;padding-right:0;text-align:center;">
                                <label class="control-label" style="text-align:center;">الی</label>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <div class="input-group">
                                    <input type="text" class="form-control ltr" style="z-index:100000;"
                                           ng-model="searchFields.endDate" jquery-datepicker="" />
                                    <span class="input-group-addon icon-calendar"><i></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <div class="hidden-xs" style="height:18px;margin-bottom:5px;"></div>
                        <button class="btn-img-search-2" ng-click="search()"></button>
                    </div>
                </div>
            </div>
        </form>

        <hr class="hr1" />

        <div class="table-responsive dgvcn">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="min-width:40px;width:40px;">&nbsp;</th>
                        <th style="min-width:60px;width:60px;">شماره</th>
                        <th style="min-width:80px;width:80px;">تاریخ</th>
                        <th style="min-width:200px;">شرح سفارش</th>
                        <th style="min-width:80px;width:80px;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in orders"
                        ng-class="{'unread': item.CustomerMustSeeIt == true}">
                        <td><span style="margin-right:4px;">{{((pageIndex - 1) * 20) + $index + 1}}</span></td>
                        <td>{{item.Code}}</td>
                        <td style="direction:ltr;text-align:right;">{{item.PersianRegisterDate}}</td>
                        <td>{{item.Form.Title}}</td>
                        <td style="text-align:left;">
                            <button class="btn btn-sm btn-info"
                                    style="padding:0 10px;"
                                    ng-click="select($index)">
                                انتخاب
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                <ul class="pagination pagination-sm" ng-show=" pageCount > 1">
                    <li ng-class="{'disabled': pageIndex == 1}">
                        <span ng-click="prevPage()">
                            <img src="/Images/UI/Pagination/btn-next-1.png" />
                        </span>
                    </li>
                    <li ng-repeat="page in pages" ng-class="{'active': page == pageIndex}">
                        <a ng-click="changePage($index)">{{page}}</a>
                    </li>
                    <li ng-class="{'disabled': pageIndex >= pageCount}">
                        <span ng-click="nextPage()">
                            <img src="/Images/UI/Pagination/btn-back-1.png" />
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"></div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="clearfix">
            <div class="pull-left">
                <button class="btn btn-labeled btn-default"
                        ng-click="close()">
                    <span class=" btn-label btn-label-right">
                        <i class="fa fa-times"></i>
                    </span>
                    خروج
                </button>
            </div>
        </div>
    </div>
</script>

<toaster-container toaster-options="{'position-class': 'toast-bottom-left', 'close-button':true, 'timeout': 3000}"></toaster-container>