<style type="text/css">
    .whirl.shadow::after {
        z-index: 13;
    }
    .whirl.shadow::before {
        z-index: 13;
    }

    .min-height {
        min-height: 600px !important;
    }

    .icon-action-undo {
        color: #5e5e5e;
        cursor: pointer;
        text-decoration: none;
        -moz-transition: background-color 300ms ease-out;
        -webkit-transition: background-color 300ms ease-out;
        -o-transition: background-color 300ms ease-out;
        transition: background-color 300ms ease-out;
    }
        .icon-action-undo:hover {
            color: #FF7200;
            text-decoration: none;
            -moz-transition: background-color 300ms ease-in;
            -webkit-transition: background-color 300ms ease-in;
            -o-transition: background-color 300ms ease-in;
            transition: background-color 300ms ease-in;
        }

    .formGroups-list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
    }
        .formGroups-list > li {
            display: block;
            margin: 0 0 25px 0;
        } 
        .formGroups-list > li > .formGroup-title {
            background-color: #b5b5b5;
            color: #fff;
            cursor: pointer;
            display: block;
            padding: 0 5px 5px 5px;
            text-align: center;
        }
        .formGroups-list > li > .formGroup-title.blue {
            background-color: #78BBF1;
        }
        .formGroups-list > li > .formGroup-title.pink {
            background-color: #CEAEDA;
        }

    .forms-list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
    }
        .forms-list li {
            display: block;
            margin: 0;
            padding: 0 10px 5px 5px;
        }
            .forms-list li a {
                color: #737373;
                cursor: pointer;
                display: block;
                padding: 5px;
                text-align: right;
                text-decoration: none;

                -moz-transition: color 300ms ease-out;
                -webkit-transition: color 300ms ease-out;
                -o-transition: color 300ms ease-out;
                transition: color 300ms ease-out;
            }
            .forms-list li a.blue:hover,
            .forms-list li a.blue.active {
                color: #78BBF1;

                -moz-transition: color 300ms ease-in;
                -webkit-transition: color 300ms ease-in;
                -o-transition: color 300ms ease-in;
                transition: color 300ms ease-in;
            }
            .forms-list li a.pink:hover,
            .forms-list li a.pink.active {
                color: #CEAEDA;

                -moz-transition: color 300ms ease-in;
                -webkit-transition: color 300ms ease-in;
                -o-transition: color 300ms ease-in;
                transition: color 300ms ease-in;
            }
                .forms-list li a i {
                    display: inline-block;
                    height: 7px;
                    margin-left: 3px;
                    position: relative;
                    top: 1px;
                    width: 7px;
                }
                .forms-list li a.blue i {
                    background-color: #78BBF1;
                }
                .forms-list li a.pink i {
                    background-color: #CEAEDA;
                }

    .gridster-item {
        z-index: auto;
    }
        .gridster-item pre {
            background-color: transparent;
            border: none;
            color: #afafaf;
            display: inline;
            font-family: Tahoma;
            font-size: 12px;
            font-weight: normal;
            margin: 0 3px 0 0;
            padding: 0;
            white-space: pre-wrap;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
        }
        .gridster-item .fa-info-circle {
            color: #088dcc;
            font-size: 18px;
            position: relative;
            top: 2px;
        }

    .mobile-view .gridster-item .container-fluid {
        padding: 0;
    }

    .error-list {
        list-style: none;
        margin: 30px 15px 0 0;
        padding: 0;
    }
        .error-list li {
            color: #C42F2F;
            margin: 0;
            padding: 0;
        }
            .error-list li i {
                background-color: #6D0606;
                display: inline-block;
                height: 7px;
                margin-left: 3px;
                position: relative;
                top: 1px;
                width: 7px;

                border-radius: 50%;
            }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default"
             ng-class="{'whirl': addLoading || fetchFormsLoading || fetchFieldsLoading, 'shadow': addLoading || fetchFormsLoading || fetchFieldsLoading}">
            <div class="panel-heading">
                <div class="pull-left">
                    <a class="icon-action-undo fa-2x"
                       ng-click="unSelectForm()"
                       ng-if="form.id != null"></a>
                </div>
                <div class="panel-title">
                    <i></i>
                    ثبت سفارش جدید
                    <span ng-if="selectedForm != null">({{selectedForm.Title}})</span>
                </div>
            </div>
            <div class="panel-body" style="min-height:250px;" ng-class="{'min-height': selectedForm == null || form.fields == null}">
                <div class="row">
                    <!-- Start Column#1 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="formGroups-list">
                            <li ng-repeat="group in formGroups_column1">
                                <div class="formGroup-title"
                                     ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}">{{group.Title}}</div>

                                <ul class="forms-list">
                                    <li ng-repeat="form in group.Forms">
                                        <a ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}"
                                           ng-click="selectForm($event, form)">
                                            <i></i>
                                            {{form.Title}}
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                    <!-- End Column#1 -->
                    <!-- Start Column#2 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="formGroups-list">
                            <li ng-repeat="group in formGroups_column2">
                                <div class="formGroup-title"
                                     ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}">{{group.Title}}</div>

                                <ul class="forms-list">
                                    <li ng-repeat="form in group.Forms">
                                        <a ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}"
                                           ng-click="selectForm($event, form)">
                                            <i></i>
                                            {{form.Title}}
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                    <!-- End Column#2 -->
                    <!-- Start Column#3 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="formGroups-list">
                            <li ng-repeat="group in formGroups_column3">
                                <div class="formGroup-title"
                                     ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}">{{group.Title}}</div>

                                <ul class="forms-list">
                                    <li ng-repeat="form in group.Forms">
                                        <a ng-class="{'pink': isDesignPortal(), 'blue': isPrintPortal()}"
                                           ng-click="selectForm($event, form)">
                                            <i></i>
                                            {{form.Title}}
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                    <!-- End Column#3 -->
                </div>

                <form class="form-validate"
                      ng-class="{'from-sumbited' : fromSumbited}"
                      ng-if="form.id  != null">
                    <div class="row" ng-if="isDesignPortal() == true && form.specialCreativity == true">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <button class="btn btn-block btn-labeled"
                                    type="button" style="text-align:right;min-height:30px;"
                                    ng-class="{'btn-default': specialCreativity == false, 'btn-info': specialCreativity == true}"
                                    ng-click="selectSpecialCreativity()">
                                <span class="btn-label btn-label-right">
                                    <i class="fa"
                                       ng-class="{'fa-check': specialCreativity == true, 'fa-times': specialCreativity == false}"></i>
                                </span>
                                خلاقیت ویژه
                            </button>
                            <br />
                        </div>
                    </div>

                    <div class="visible-lg visible-md"
                         gridster="gridsterOpts_desktop">
                        <ul style="position:relative;">
                            <li gridster-item=""
                                size-x="item.desktop_position.sizeX"
                                size-y="item.desktop_position.sizeY"
                                row="item.desktop_position.row"
                                col="item.desktop_position.col"
                                ng-repeat="item in form.fields">
                                @Html.Partial("../Form/FormField_TextBox")
                                @Html.Partial("../Form/FormField_TextArea")
                                @Html.Partial("../Form/FormField_NumericStepper")
                                @Html.Partial("../Form/FormField_ColorPicker")
                                @Html.Partial("../Form/FormField_FileUploader")
                                @Html.Partial("../Form/FormField_Checkbox")
                                @Html.Partial("../Form/FormField_WebUrl")
                                @Html.Partial("../Form/FormField_DatePicker")
                                @Html.Partial("../Form/FormField_DropDown")
                                @Html.Partial("../Form/FormField_MultipleChoice")
                                @Html.Partial("../Form/FormField_CheckboxGroup")
                            </li>
                        </ul>
                    </div>

                    <div class="visible-sm" gridster="gridsterOpts_tablet">
                        <ul>
                            <li gridster-item=""
                                size-x="item.tablet_position.sizeX"
                                size-y="item.tablet_position.sizeY"
                                row="item.tablet_position.row"
                                col="item.tablet_position.col"
                                ng-repeat="item in form.fields">
                                @Html.Partial("../Form/FormField_TextBox")
                                @Html.Partial("../Form/FormField_TextArea")
                                @Html.Partial("../Form/FormField_NumericStepper")
                                @Html.Partial("../Form/FormField_ColorPicker")
                                @Html.Partial("../Form/FormField_FileUploader")
                                @Html.Partial("../Form/FormField_Checkbox")
                                @Html.Partial("../Form/FormField_WebUrl")
                                @Html.Partial("../Form/FormField_DatePicker")
                                @Html.Partial("../Form/FormField_DropDown")
                                @Html.Partial("../Form/FormField_MultipleChoice")
                                @Html.Partial("../Form/FormField_CheckboxGroup")
                                <div class="gridster-item-overlay"></div>
                            </li>
                        </ul>
                    </div>

                    <div class="mobile-view visible-xs" gridster="gridsterOpts_mobile">
                        <ul>
                            <li gridster-item=""
                                size-x="item.mobile_position.sizeX"
                                size-y="item.mobile_position.sizeY"
                                row="item.mobile_position.row"
                                col="item.mobile_position.col"
                                ng-repeat="item in form.fields">
                                @Html.Partial("../Form/FormField_TextBox")
                                @Html.Partial("../Form/FormField_TextArea")
                                @Html.Partial("../Form/FormField_NumericStepper")
                                @Html.Partial("../Form/FormField_ColorPicker")
                                @Html.Partial("../Form/FormField_FileUploader")
                                @Html.Partial("../Form/FormField_Checkbox")
                                @Html.Partial("../Form/FormField_WebUrl")
                                @Html.Partial("../Form/FormField_DatePicker")
                                @Html.Partial("../Form/FormField_DropDown")
                                @Html.Partial("../Form/FormField_MultipleChoice")
                                @Html.Partial("../Form/FormField_CheckboxGroup")
                            </li>
                        </ul>
                    </div>

                    <div class="row" ng-if="fromSumbited && selectedForm != null">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul class="error-list">
                                <li style="color:#6D0606;font-size:22px;" ng-if="formErrors.length > 0">خطا:</li>
                                <li ng-repeat="error in getFormErrors()"><i></i>{{error}}</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer"
                 style="border-top:1px solid #b5b5b5;"
                 ng-if="form.id  != null">
                <div class="clearfix">
                    <div class="pull-right">
                        <button class="btn btn-labeled btn-success" type="button"
                                ng-click="send()">
                            <span class="btn-label btn-label-right">
                                <i class="fa fa-check"></i>
                            </span>
                            ثبت
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-bottom-left', 'close-button':true, 'timeout': 3000}"></toaster-container>