@model Karenbic.DomainClasses.Customer

@{
    Layout = null;
    List<string> errors = (List<string>)ViewBag.Errors;
}

<!DOCTYPE html>
<html>
<head>
    <title>شرکت نوآوران کارن | ثبت نام</title>

    <script type="text/javascript" language="javascript" src="/Vendors/jquery-1.11.2/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="/Vendors/jquery-1.11.2/jquery-migrate-1.2.1.min.js"></script>

    <script type="text/javascript" language="javascript" src="/Vendors/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Vendors/bootstrap-3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Vendors/bootstrap-rtl/bootstrap-rtl.min.css" />

    <link type="text/css" rel="Stylesheet" href="/Vendors/ezmark/css/ezmark.css" />
    <script type="text/javascript" language="javascript" src="/Vendors/ezmark/js/jquery.ezmark.min.js"></script>

    <link type="text/css" rel="Stylesheet" href="/Vendors/chosen/chosen.css" />
    <script type="text/javascript" language="javascript" src="/Vendors/chosen/chosen.jquery.js"></script>

    <script type="text/javascript" language="javascript" src="/Vendors/jquery-validation-1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" language="javascript" src="/Vendors/jquery-validation-1.13.1/localization/messages_fa.js"></script>

    <style type="text/css">
         body{background-color:#5e5e5e;}

        table.frm1{border-collapse:collapse;direction:rtl;}
        table.frm1 td{height:30px;vertical-align:middle;}
        table.frm1 td.clmn1{text-align:left;}
        table.frm1 td.clmn2{padding-right:10px;text-align:right;}
        table.frm1 td.clmn3{width:15px;}
        table.frm1 input[type=button]{display:table-cell;vertical-align:middle;text-align:center;}

        .lbl1-fa{color:#737373;font-family:Tahoma;font-size:13px;}

        .txt-en{height:28px;padding:5px;background-color:#fff;border:1px solid #bebebe;direction:ltr;text-align:left;}
        .txt-fa{height:28px;padding:5px;background-color:#fff;border:1px solid #bebebe;direction:rtl;text-align:right;}
        .txtarea-fa{padding:5px;background-color:#fff;border:1px solid #bebebe;direction:rtl;text-align:right;resize:none;overflow:hidden;}
        .txt-fa.error, .txt-fa.error:focus, .txt-en.error, .txt-en.error:focus{border:1px solid #d50008;}

        #register-panel{background-color:#fff;direction:rtl;height:450px;margin:10px auto 30px auto;padding:20px;position:relative;width:720px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
        #register-panel .title{background:url(/Images/Public/Register/2.png) no-repeat 0 0;height:36px;margin:0 auto 30px auto;width:207px;}
        #register-panel .bottom{background:url(/Images/Public/Register/1.png) no-repeat center center;bottom:-25px;height:26px;position:absolute;width:720px;}
        #register-panel .btn-register{background:url(/Images/Public/Register/3.png) no-repeat 0 0;border:none;cursor:pointer;display:block;height:31px;left:290px;position:absolute;top:-14px;width:143px;}
        #register-panel .btn-register:hover{background-position:0 -31px;}

        #register-panel-mobile{background-color:#fff;direction:rtl;height:880px;margin:10px auto 30px auto;padding:20px;position:relative;width:280px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
        #register-panel-mobile .title{background:url(/Images/Public/Register/2.png) no-repeat 0 0;height:26px;margin:0 auto 30px auto;width:207px;}
        #register-panel-mobile .bottom{background:url(/Images/Public/Register/1.png) no-repeat center center;bottom:-25px;left:0;height:26px;position:absolute;width:280px;}
        #register-panel-mobile .btn-register{background:url(/Images/Public/Register/3.png) no-repeat 0 0;border:none;cursor:pointer;display:block;height:31px;left:69px;position:absolute;top:-14px;width:143px;}
        #register-panel-mobile .btn-register:hover{background-position:0 -31px;}
        #register-panel-mobile table.frm1{width:100%;}
        #register-panel-mobile table.frm1 td{margin-bottom:20px;}
        #register-panel-mobile table.frm1 td.clmn1{text-align:right;}
        #register-panel-mobile table.frm1 td.clmn2{padding-right:0;}

        #success-message{background-color:#fff;color:#b200ff;direction:rtl;font-family:yekan;font-size:18px;margin:10px auto 30px auto;padding:20px;position:relative;text-align:center;width:720px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}

        .error-list{list-style: none;margin:30px 15px 0 0;padding:0;}
        .error-list li{color:#C42F2F;margin:0;padding:0;}
        .error-list li i{background-color:#6D0606;display:inline-block;height:7px;margin-left:3px;position:relative;top:1px;width:7px;border-radius:50%;}

        /* Small Devices, Tablets */
        @@media only screen and (min-width : 320px) {
            #success-message{width:280px;}
        }
        /* Small Devices, Tablets */
        @@media only screen and (min-width : 480px) {
            #success-message{width:280px;}
        }
            /* Small Devices, Tablets */
        @@media only screen and (min-width : 768px) {
            #success-message{width:720px;}
        }
        /* Medium Devices, Desktops */
        @@media only screen and (min-width : 992px) {
            #success-message{width:720px;}
        }
        /* Large Devices, Wide Screens */
        @@media only screen and (min-width : 1200px) {
            #success-message{width:720px;}
        }
    </style>

    <script type="text/javascript">
$(document).ready(function () {

    $("#registerForm").validate({
        rules: {
            'model.Name': "required",
            'model.Surname': "required",
            'model.Phone': {
                required: false,
                digits: true,
                minlength: 7
            },
            'model.Mobile': {
                required: true,
                digits: true,
                minlength: 11,
                maxlength: 11
            },
            'model.Email': {
                required: true,
                email: true,
                remote: {
                    url: "/Account/Register_CheckEmail",
                    type: "post",
                    data: {
                        email: function () {
                            return $("#email").val();
                        }
                    }
                }
            },
            'model.Username': {
                required: true,
                minlength: 4,
                remote: {
                    url: "/Account/Register_CheckUsername",
                    type: "post",
                    data: {
                        username: function () {
                            return $("#username").val();
                        }
                    }
                }
            },
            password: {
                required: true,
                minlength: 6
            },
            rePassword: {
                required: true,
                minlength: 6,
                equalTo: "#password"
            }
        },
        errorPlacement: function (error, element) { }
    });

    $("#registerForm2").validate({
        rules: {
            'model.Name': "required",
            'model.Surname': "required",
            'model.Phone': {
                required: false,
                digits: true,
                minlength: 7
            },
            'model.Mobile': {
                required: true,
                digits: true,
                minlength: 11,
                maxlength: 11
            },
            'model.Email': {
                required: true,
                email: true,
                remote: {
                    url: "/Account/Register_CheckEmail",
                    type: "post",
                    data: {
                        email: function () {
                            return $("#email-mobile").val();
                        }
                    }
                }
            },
            'model.Username': {
                required: true,
                minlength: 4,
                remote: {
                    url: "/Account/Register_CheckUsername",
                    type: "post",
                    data: {
                        username: function () {
                            return $("#username-mobile").val();
                        }
                    }
                }
            },
            password: {
                required: true,
                minlength: 6
            },
            rePassword: {
                required: true,
                minlength: 6,
                equalTo: "#password-mobile"
            }
        },
        errorPlacement: function (error, element) { }
    });

    $('input[type="radio"]').ezMark();

    $('select').chosen({
        placeholder_text_single: 'انتخاب کنید',
        placeholder_text_multiple: 'انتخاب کنید'
    });

    $('#Province').change(function () {
        $.ajax({
            url: '@Url.Action("GetOption", "City")',
                type: 'GET',
                success: function (m) {
                    $select = $('<select>').attr({ 'id': 'City', 'name': 'CityID' }).css('width', '201px');
                    $($select).html(m);
                    $('#City').closest('td').html($select);
                    $($select).chosen({
                        placeholder_text_single: 'انتخاب کنید',
                        placeholder_text_multiple: 'انتخاب کنید'
                    });
                },
                data: 'ProvinceID=' + $('#Province').val()
            });
        });

        $('#province-mobile').change(function () {
            $.ajax({
                url: '@Url.Action("GetOption", "City")',
                type: 'GET',
                success: function (m) {
                    $select = $('<select>').attr({ 'id': 'City', 'name': 'CityID' }).css('width', '100%');
                    $($select).html(m);
                    $('#city-mobile').closest('td').html($select);
                    $($select).chosen({
                        placeholder_text_single: 'انتخاب کنید',
                        placeholder_text_multiple: 'انتخاب کنید'
                    });
                },
                data: 'ProvinceID=' + $('#province-mobile').val()
            });
        });
    });
    </script>
</head>
<body>

    @if (ViewBag.RegisterSuccessed != null && ViewBag.RegisterSuccessed == true)
    {
        <div id="success-message">ثبت نام با موفقیت انجام گردید</div>
    }

    <div class="hidden-xs" id="register-panel">
        <form id="registerForm" action="@Url.Action("Register")" method="post">
            <div class="title"></div>
            <table class="frm1">
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">نام:</span></td>
                    <td class="clmn2"><input type="text" name="model.Name" class="txt-fa" style="width:201px;" tabindex="2" /></td>
                    <td rowspan="9" width="30px;" style="border-left:1px solid #bebebe;">&nbsp;</td>
                    <td rowspan="9" style="padding-right:25px;">
                        <table class="frm1">
                            <tr>
                                <td class="clmn1"><span class="lbl1-fa">نام کاربری:</span></td>
                                <td class="clmn2">
                                    <input id="username" type="text" name="model.Username"
                                           class="txt-en" style="width:201px;" tabindex="12" />
                                </td>
                            </tr>
                            <tr>
                                <td class="clmn1"><span class="lbl1-fa">رمز عبور:</span></td>
                                <td class="clmn2"><input type="password" id="password" name="password" class="txt-en" style="width:201px;" tabindex="13" /></td>
                            </tr>
                            <tr>
                                <td class="clmn1"><span class="lbl1-fa">تکرار رمز عبور:</span></td>
                                <td class="clmn2"><input type="password" name="rePassword" class="txt-en" style="width:201px;" tabindex="14" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">نام خانوادگی:</span></td>
                    <td class="clmn2"><input type="text" name="model.Surname" class="txt-fa" style="width:201px;" tabindex="2" /></td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">جنسیت:</span></td>
                    <td class="clmn2">
                        <label class="lbl1-fa"><input type="radio" name="model.Gendar" value="1" tabindex="3" checked="checked" /> مرد</label>
                        &nbsp;&nbsp;&nbsp;
                        <label class="lbl1-fa"><input type="radio" name="Model.Gendar" value="2" tabindex="4" /> زن</label>
                    </td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">شماره تلفن:</span></td>
                    <td class="clmn2"><input type="text" name="model.Phone" class="txt-en" style="width:201px;" tabindex="5" /></td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">شماره تلفن همراه:</span></td>
                    <td class="clmn2"><input type="text" name="model.Mobile" class="txt-en" style="width:201px;" tabindex="6" /></td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">ایمیل:</span></td>
                    <td class="clmn2"><input id="email" type="text" name="model.Email" class="txt-en" style="width:201px;" tabindex="8" /></td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">استان:</span></td>
                    <td class="clmn2">
                        <select id="Province" name="provinceId" style="width:201px;" tabindex="9">
                            @Html.Action("GetOption", "Province")
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">شهر:</span></td>
                    <td class="clmn2">
                        <select id="City" name="cityId" style="width:201px;" tabindex="10"></select>
                    </td>
                </tr>
                <tr>
                    <td class="clmn1" style="vertical-align:top;padding-top:2px;"><span class="lbl1-fa">آدرس:</span></td>
                    <td class="clmn2"><textarea class="txtarea-fa" style="width:201px;height:80px;" name="model.Address" tabindex="11"></textarea></td>
                </tr>
            </table>
            <div class="bottom">
                <input type="submit" class="btn-register" value="" />
            </div>
        </form>
    </div>

    <div class="visible-xs" id="register-panel-mobile">
        <form id="registerForm2" action="@Url.Action("Register")" method="post">
            <div class="title"></div>
            <table class="frm1">
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">نام:</span></td>
                </tr>
                <tr>
                    <td class="clmn2"><input type="text" name="model.Name" class="txt-fa" style="width:100%;" tabindex="2" /></td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">نام خانوادگی:</span></td>
                </tr>
                <tr>
                    <td class="clmn2"><input type="text" name="model.Surname" class="txt-fa" style="width:100%;" tabindex="2" /></td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">جنسیت:</span></td>
                </tr>
                <tr>
                    <td class="clmn2">
                        <label class="lbl1-fa"><input type="radio" name="model.Gendar" value="1" tabindex="3" checked="checked" /> مرد</label>
                        &nbsp;&nbsp;&nbsp;
                        <label class="lbl1-fa"><input type="radio" name="Model.Gendar" value="2" tabindex="4" /> زن</label>
                    </td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">شماره تلفن:</span></td>
                </tr>
                <tr>
                    <td class="clmn2"><input type="text" name="model.Phone" class="txt-en" style="width:100%;" tabindex="5" /></td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">شماره تلفن همراه:</span></td>
                </tr>
                <tr>
                    <td class="clmn2"><input type="text" name="model.Mobile" class="txt-en" style="width:100%;" tabindex="6" /></td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">ایمیل:</span></td>
                </tr>
                <tr>
                    <td class="clmn2"><input id="email-mobile" type="text" name="model.Email" class="txt-en" style="width:100%;" tabindex="8" /></td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">استان:</span></td>
                </tr>
                <tr>
                    <td class="clmn2">
                        <select id="province-mobile" name="provinceId" style="width:100%;" tabindex="9">
                            @Html.Action("GetOption", "Province")
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">شهر:</span></td>
                </tr>
                <tr>
                    <td class="clmn2">
                        <select id="city-mobile" name="cityId" style="width:100%;" tabindex="10"></select>
                    </td>
                </tr>
                <tr>
                    <td class="clmn1" style="vertical-align:top;padding-top:2px;"><span class="lbl1-fa">آدرس:</span></td>
                </tr>
                <tr>
                    <td class="clmn2"><textarea class="txtarea-fa" style="width:100%;height:80px;" name="model.Address" tabindex="11"></textarea></td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">نام کاربری:</span></td>
                </tr>
                <tr>
                    <td class="clmn2">
                        <input id="username-mobile" type="text" name="model.Username"
                               class="txt-en" style="width:100%;" tabindex="12" />
                    </td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">رمز عبور:</span></td>
                </tr>
                <tr>
                    <td class="clmn2"><input type="password" id="password-mobile" name="password" class="txt-en" style="width:100%;" tabindex="13" /></td>
                </tr>
                <tr>
                    <td class="clmn1"><span class="lbl1-fa">تکرار رمز عبور:</span></td>
                </tr>
                <tr>
                    <td class="clmn2"><input type="password" name="rePassword" class="txt-en" style="width:100%;" tabindex="14" /></td>
                </tr>
            </table>
            <div class="bottom">
                <input type="submit" class="btn-register" value="" />
            </div>
        </form>
    </div>

</body>
</html>